.dish-day-selected {
    background-color: #1c1a1d;
    color: white;
}

.dish-group-heading-1 {
    color: black;

}

#app {
    position: relative !important;
}

#app-right-column {
    width: 180px;
    /*position: fixed;*/
    /*top: 270px;*/
    /*right: 30px;*/
    margin-top: 20px;
    float: right;
    text-align: center;
}

.dish-group-heading-1 {
    font-family: 'Varela Round', sans-serif;
    text-transform: none;
    font-size: 24px;
}

#all-selected-dishes {
    text-align: left;
}

#all-selected-dishes ul {
    padding-left: 16px;
}

#all-selected-dishes ul li {
    list-style-type: initial;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

.dish-non-vegetarian {
    display: none;
}

.dish-contains-milk {
    display: none;
}

.dish-contains-gluten {
    display: none;
}

.remove {
    float: right;
    cursor: pointer;
}

.remove:hover {
    color: #C49E60;
}

#total {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.dish-group {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.menu-dish {
    margin-bottom: 20px;
}

.school-delivery-app > #child-picture {
    width: 100px;
    height: 100px;
    background: whitesmoke;
}

#child-picture {
    margin-bottom: 15px;
}

.dish-description {
    float: left;
    padding-left: 15px;
    max-width: 275px;
}

.menu-dish-content {
    width: 100%;
    float: left;
}

.menu-dish-actions {
    float: left;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
}

.dish-name-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #c49e60;
}

.dish-picture {
    float: left;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#child-name {
    text-transform: none;
    font-size: 18px;
    margin-top: 10px;
}

.dish-menu-price {
    width: 70px;
    text-align: right;
}

.day-button {
    float: left;
    padding: 2px 6px;
    background: #c49e60;
    color: #fff;
    margin-right: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}

.dish-day-selected {
    background: #816536;
}

.menu-dish-diet {
    margin-top: 5px;
}

.dish-price-text {
    margin-top: 7px;
    font-weight: bold;
}

.menu-dish-diet {
    width: 150px;
    float: left;
}

.overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 450px; /* your iframe height */
    top: 450px; /* your iframe height */
    margin-top: -450px; /* your iframe height */
}

.detail-block i {
    font-size: 50px;
    color: #C49E60;
    margin-bottom: 10px;
}

.detail-block {
    margin-bottom: 50px;
}

.order {
    border: 1px dashed #ccc;
    padding: 0 10px;
    margin-top: 10px;
}

.order .order-header {
    cursor: pointer;
    padding: 10px 0;
}

.order .order-content {
    display: none;
    padding-bottom: 10px;
    overflow: hidden;
}

.order .day {
    float: left;
    width: 20%;
    margin-top: 10px;
}

.order-child {
    float: left;
    width: 100%;
}

.order .day p {
    font-weight: bold;
    margin-bottom: 5px;
}

.order .day ul {
    padding-left: 20px;
    font-size: 13px;
    margin-bottom: 5px;
}

.order .day ul li {
    list-style: initial;
}

.order .child-name {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    font-weight: bold;
}

.order .week-name {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    font-weight: bold;
}

.order .order-total {
    padding-top: 10px;
    border-top: 1px dashed #ccc;
    float: left;
    width: 100%;
    text-align: right;
    font-weight: bold;
}